@import '~@angular/material/theming';
@import '~src/theme.scss';

$structureColor: $caleb-text;
$font-size: 20px;
$height: 26px;
$spacer: 7px;


.pill-badge-wrapper {
  margin: 0 0 5px 0;
  height: $height;
  line-height: $height;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  border: 1px solid $structureColor;
  span {
    display: inline-block;
    font-size: $font-size !important;
    line-height: $height;
    height: 100%;
    border-right: 1px dashed $structureColor;
    padding-left: $spacer;
    padding-right: $spacer;
    vertical-align: super;
    position: absolute;
  }
  div {
    display: inline-block;
    font-size: $font-size !important;
    height: $height;
    padding: 0 $spacer 0 $spacer;
    line-height: $height;
    vertical-align: text-bottom;
    position: absolute;
    left: 2em;
  }
  &:hover {
    cursor: pointer;
    @include mat-elevation(2);
  }
}

