<!--<div class="portrait-wrapper"></div>-->
<section>
  <img class="portrait-img" src="assets/img/Profile.jpg" alt="Photo of Caleb Allen">
<!--
  <mat-card class="example-card">
    &lt;!&ndash;<mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>&ndash;&gt;
    <img mat-card-image src="assets/img/Profile.jpg" alt="Photo of Caleb Allen">
    &lt;!&ndash;
      <mat-card-content>
      </mat-card-content>
    &ndash;&gt;
    &lt;!&ndash;<mat-card-actions flex fxLayout="row" class="social-media-bar">
      <section fxFlex="60">
        <button mat-mini-fab color="accent"><i class="icon ion-logo-twitter"></i></button>
        <button mat-mini-fab color="accent"><i class="icon ion-logo-twitch"></i></button>
        <button mat-mini-fab color="accent"><i class="icon ion-logo-github"></i></button>

      </section>
      <section fxFlex="40">

      <button mat-mini-fab color="accent"><i class="icon ion-logo-linkedin"></i></button>
      <button mat-mini-fab color="accent"><i class="icon ion-md-mail"></i></button>
      </section>
    </mat-card-actions>&ndash;&gt;
  </mat-card>
-->

</section>
