<mat-card  ngClass.xs="portrait-card">
  <mat-card-header>
    <mat-card-title>Caleb Allen</mat-card-title>
    <mat-card-subtitle>MEAN Stack Developer</mat-card-subtitle>
  </mat-card-header>
  <img  mat-card-image class="portrait-img mat-elevation-z2" src="assets/img/portrait_image.png" alt="Photo of Caleb Allen">
  <mat-card-content>
<!--    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>-->
  </mat-card-content>
  <mat-card-actions>
<!--    <button mat-button>LIKE</button>-->
<!--    <button mat-button>SHARE</button>-->
    <app-social-media-links></app-social-media-links>
  </mat-card-actions>
</mat-card>
