<div class="container project-page-wrapper"
     fxLayout
     fxLayout.lt-md="column"
     fxLayoutAlign="center"
     fxLayoutGap="10px"
     fxLayoutGap.lt-md="0" >
<!--  <div fxFlex="0%"-->
<!--       fxFlex.gt-md="10%"></div>-->
  <div fxFlexOffset="0" fxFlexOffset.gt-md="100px" fxFlex="350px" >
    <app-project-summary  [project]="project"></app-project-summary>
  </div>
  <div fxFlex="grow">
    <app-project-writeup [project]="project"></app-project-writeup>
  </div>
  <div fxFlex="0" fxFlex.gt-md="100px"></div>
</div>
