<mat-card class="git-card">
  <mat-card-header>
    <mat-card-title>Github Contributions</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="github-calendar"></div>
  </mat-card-content>
  <mat-card-actions align="end">
    <span class="attribution-text">powered by <a alt="Open Github Calendar's Webpage."
                                                 href="https://ionicabizau.github.io/github-calendar/example/">github-calendar</a></span>
  </mat-card-actions>
</mat-card>

