<div fxLayout="column">
  <div class="eye-catch">
    <div fxLayout="column">
      <div fxLayout="row">
        <div fxFlex="100" class="home-page-spacer"></div>
      </div>
      <div fxLayout="row">
        <div fxFlexAlign="right right" fxFlex="20" class="welcome ">
          <span class="home-right">Hello</span>
        </div>
      </div>
      <div fxLayout="row">
        <div fxFlexOffset="20" fxFlex="80" class="welcome-amp">
          <span>&amp;</span>
        </div>
      </div>
      <div fxLayout="row">
        <div fxFlexOffset="24" fxFlex="75" class="welcome-message">
          <span>Welcome</span>
        </div>
      </div>
    </div>







  </div>
  <div class="introduction">
    <div fxLayout="column"  fxLayoutGap="3em">

      <div class="container" fxLayout="row" fxLayoutAlign="center center">
        <div class="byline"><span>My name Caleb Allen and solve problems.</span></div>
      </div>
      <div class="container bottom-links" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="1em">
        <div >Portfolio</div> <div >About</div>
      </div>
    </div>

  </div>

</div>
