@import url(https://fonts.googleapis.com/css?family=Fjalla+One);
@import '~src/theme.scss';

.introduction {
  background-color: mat-color($caleb-foreground);
  padding-top: 3em;
  .byline {
    font-size: 1.4em;
    strong {
      color: mat-color($caleb-accent);
      letter-spacing: 2px;
    }
  }
  .container {
    text-align: center;
  }
}
