
<div fxLayout="column">
  <div class="eye-catch">
    This is my center eye-catcher
  </div>
  <div class="introduction">
    This is a bar on the bottom.
  </div>
</div>


<!--<div class="home-wrapper" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap.lt-md="0px" fxLayoutGap="20px">-->
<!--  <div fxFlex="5"></div>-->
<!--  <div fxFlex.gt-md="15" fxFlex.lt-md="100">-->
<!--    <app-homepage-title-bar></app-homepage-title-bar>-->
<!--    <app-portrait></app-portrait>-->
<!--    <app-social-media-links></app-social-media-links>-->
<!--  </div>-->
<!--  <div fxFlex.gt-md="75" fxFlex.lt-md="100" class="content">  </div>-->
<!--  <div fxFlex="5"></div>-->
<!--</div>-->

