<div fxLayout="row" fxFlexAlign="center center">
  <div fxFles="100%" fxLayout="row"><h2> {{ me.name() }} at a glance.</h2></div>
</div>
<section class="mat-elevation-z5">
  <div fxLayout="row">
    <div fxFlex="50%" fxLayout="row"><h3>How long have you been...</h3></div>
  </div>
  <div fxLayout="row" fxFlexAlign="center">
<!--    <div ><h4>...alive:</h4></div><div fxFlex="25%"><h4>{{ liveAge.toFixed(8) }} years</h4></div>-->
    <div ><h4>...full-time employed:</h4></div><div fxFlex="25%"><h4>{{ liveEmployed.toFixed(8) }} years</h4></div>
    <div ><h4>...a Computer Science graduate:</h4></div><div fxFlex="25%"><h4>{{ liveDegree.toFixed(8) }} years</h4></div>
  </div>
    <app-text-pill [left]="'...alive'" [right]="liveAge.toFixed(8) + ' years'"></app-text-pill>
</section>




