<mat-card>
  <mat-card-header>
    <mat-card-title>The Big List of Technologies Worked With</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <table>
      <tr *ngFor="let entry of this.me.technologySpecifics">
        <td>
          <pre>{{ entry.category }}</pre>
        </td>
        <td>
          <ng-container *ngFor="let dets of entry.details; let last = last">
            <span class="tech-dets">
              <span>{{ dets.name }}{{(last) ? '' : ','}}</span>
              <!--              <span>({{ dets.version }}),</span>-->
            </span>
          </ng-container>
        </td>
      </tr>
    </table>
  </mat-card-content>
</mat-card>
