@import '~@angular/material/theming';
@import 'src/theme.scss';

::ng-deep {
  .mat-toolbar {
    z-index: 5 !important;
    margin-bottom: 50px;
  }
}
.top-bar {
  //@include mat-elevation(3);
  z-index: 5;
}
.spacer {
  flex: 1 1 auto;
}

.name-bar {
  font-family: $caleb-banner-font !important;
  font-size: 2em;
  margin-left: 4px;
  &:hover {
    cursor: pointer;
  }
  z-index: 10;
}

.small-screen-name {
  display: inline-block;
  height: 1.75em;
  font-size: 1.75em;
  line-height: 1.75em;
  &:hover {
    cursor: pointer;
  }
}

.top-bar-button {
  transition: all 3s linear !important;
}
//
//button {
//  font-family: 'Bebas Neue', cursive !important;
//}
::ng-deep{
  .strangeButton {
    span{
      font-family: $caleb-banner-font !important;
      letter-spacing: 2px;
      font-size: 1.5em;
    }
  }
}
