<ng-container>
  <mat-toolbar class="mat-elevation-z1" color="primary" fxLayout="column">
    <mat-toolbar-row color="primary" fxHide.gt-sm fxLayout="row" fxLayoutAlign="center center">
      <span class="name-bar" routerLink="/">{{ me.name() }}</span>
    </mat-toolbar-row>
    <mat-toolbar-row fxLayout="row">
      <span class="name-bar" fxFlex="25" fxFlex.gt-sm="50" fxHide.lt-md routerLink="/">{{ me.name() }}</span>
      <section fxFlex="100" fxFlex.gt-sm="50" fxLayoutAlign="space-evenly" fxLayoutAlign.gt-sm="end">
        <ng-container *ngIf="pServe.areProjectsLoaded() | async">
          <ng-container *ngFor="let k of keys">
            <ng-container *ngIf="arrayTest(menus[k])">
              <button [matMenuTriggerFor]="menu" class="strangeButton" mat-button>{{ k }}</button>
              <mat-menu #menu="matMenu" fxHide>
                <button *ngFor="let link of menus[k].slice(0,projPerPage)" [routerLink]="link.link" mat-menu-item> {{ link.text }}</button>
                <mat-divider></mat-divider>
                <button mat-menu-item [routerLink]="k.toLowerCase() + '/all'">View All</button>
              </mat-menu>
            </ng-container>
            <ng-container *ngIf="!arrayTest(menus[k])">
              <button [routerLink]="menus[k].link" class="strangeButton" mat-button>{{ k }}</button>
            </ng-container>
          </ng-container>
        </ng-container>
      </section>
    </mat-toolbar-row>

  </mat-toolbar>
</ng-container>
