@import '~@angular/material/theming';
@import '~src/theme.scss';


.name-bar {
  font-family: $caleb-banner-font !important;
  font-size: 2em;
  margin-left: 4px;

  &:hover {
    cursor: pointer;
  }

  z-index: 10;
}

::ng-deep {
  .strangeButton {
    span {
      font-family: $caleb-banner-font !important;
      letter-spacing: 2px;
      font-size: 1.5em;
    }
  }
}
