<section class="project-writeup-wrapper content"  *ngIf="portfolio.areProjectsLoaded() | async">
  <app-project-title-anchor></app-project-title-anchor>
  <!--  <h4>Description:</h4>-->

  <ng-container *ngIf="project.designGoals !== null">
    <h4>Design Goals:</h4>
    <section class="pl-1em">

      <span [innerHTML]="project.designGoals.intro | markdown"></span>

      <ng-container *ngFor="let g of project.designGoals.goals">
        <p class="pl-3em"><i class="icon ion-md-arrow-forward"></i><span [innerHTML]="g" class="pl-1em"></span></p>
      </ng-container>
    </section>
  </ng-container>
  <mat-divider></mat-divider>

  <h4>What I learned:</h4>
  <section class="pl-1em">

    <section [innerHTML]="project.postMortem | markdown"></section>
  </section>

  <ng-container *ngIf="project.documents !== null && project.documents.length > 0">
    <mat-divider></mat-divider>
    <app-file-attachments [project]="project"></app-file-attachments>

  </ng-container>

  <ng-container *ngIf="project.gallery !== null && project.gallery.length > 0">
    <mat-divider></mat-divider>
    <app-project-gallery></app-project-gallery>
  </ng-container>


</section>
