@import 'src/theme.scss';

$pillPadding: 0.2em;
$pillBorderRadius: 20px;

.text-pill {
  min-width: 1em;
  overflow: hidden;
  min-height: 1em;
  font-size: 2em;
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
  .right{
    display:inline-block;

    padding: $pillPadding;
    background: linear-gradient(90deg, rgba(122,32,161,1) 0%, rgba(122,32,161,0) 100%);
    border-left: 1px solid white;
  }
  .left {
    display: inline-block;
    padding: $pillPadding;
    background-color: mat-color($caleb-background);
  }
}
