@import 'src/theme.scss';

img {
  margin: 10px 0 0 0;
  max-width: 90%;
  border: 1px solid $caleb-text;
  border-radius: 0.5em;

  &:hover {
    cursor: pointer;
    transform: scale(1.02);
    transition: all 400ms ease-out 75ms;
  }
}
