/* You can add global styles to this file, and also import other style files */
$primary: #7b1fa2;
$accent: #69f0ae;
$warn: #f44336;

/*font-family: 'Vollkorn', serif;
font-family: 'Lora', serif;*/

html, body { height: 100%; }
body { margin: 0;
}

h1,h2,h3,h4,h5,h6,mat-card-title {
  font-family: 'Lora', serif !important;
}

* {
  font-family: 'Vollkorn', serif;
}
.bounded-row-wrapper{
  display:flex;
  justify-content: center;
}


.bounded-row {
  max-width: 1000px;
}
