@import '~@angular/material/theming';
//@import "variables.scss";
@import 'src/theme.scss';


html, body { height: 100%; }
body {
  margin: 0;
  padding: 0 !important;
}

h1,h2,h3,h4,h5,h6,mat-card-title {
  //font-family: 'Roboto', sans-serif;
  font-family: $caleb-banner-font !important;
  letter-spacing: 2px;
}

* {
  font-family: $caleb-body-font;
}
.bounded-row-wrapper{
  display:flex;
  justify-content: center;
}


.bounded-row {
  //max-width: 1100px;
}

.bottom-right {
  position: absolute !important;
  bottom: 5px ;
  right: 5px ;
}

a {
  color: mat-color($caleb-warn);
}

.attribution-text {
  font-size: .7em;
}

strong {
  color: mat-color($caleb-accent);
  letter-spacing: 2px;
}

