@import '~@angular/material/theming';
@include mat-core();

$caleb-primary: mat-palette($mat-blue-grey);
$caleb-accent:  mat-palette($mat-pink, 500, 900, 100);
$caleb-warn:    mat-palette($mat-deep-orange);
$caleb-theme:   mat-light-theme($caleb-primary, $caleb-accent, $caleb-warn);
$caleb-background: mat-color($caleb-theme, background);
$caleb-foreground: mat-color($caleb-theme, foreground);
$caleb-text: mat-color($caleb-foreground, text);

$caleb-banner-font: 'Bebas Neue', cursive;
$caleb-body-font: 'Nunito', sans-serif;

@include angular-material-theme($caleb-theme);
