@import '~@angular/material/theming';
@include mat-core();

/*
$mat-red
$mat-pink
$mat-purple
$mat-deep-purple
$mat-indigo
$mat-blue
$mat-light-blue
$mat-cyan
$mat-teal
$mat-green
$mat-light-green
$mat-lime
$mat-yellow
$mat-amber
$mat-orange
$mat-deep-orange
$mat-brown
$mat-grey
$mat-blue-grey
*/

$caleb-primary: mat-palette($mat-blue-grey);
$caleb-accent:  mat-palette($mat-blue, 500, 900, 100);
$caleb-warn:    mat-palette($mat-deep-orange);
$caleb-theme:   mat-light-theme($caleb-primary, $caleb-accent, $caleb-warn);
$caleb-background: mat-color($caleb-theme, background);
$caleb-foreground: mat-color($caleb-theme, foreground);
$caleb-text: mat-color($caleb-foreground, text);

$caleb-banner-font: 'Bebas Neue', cursive;
// $caleb-banner-font: 'Staatliches', cursive;
// $caleb-banner-font: 'Audiowide', cursive;
// $caleb-banner-font: 'Bungee', cursive;
// $caleb-banner-font: 'Skranji', cursive;
// $caleb-banner-font: 'Turret Road', cursive;
// $caleb-banner-font: 'Turret Road', cursive;











// $caleb-body-font: 'Open Sans Condensed', sans-serif;
// $caleb-body-font: 'Exo', sans-serif;
$caleb-body-font: 'Play', sans-serif;
// $caleb-body-font: 'Josefin Sans', sans-serif;
// $caleb-body-font: 'Cabin', sans-serif;
// $caleb-body-font: 'Ubuntu', sans-serif;
// $caleb-body-font: 'Nunito', sans-serif;
// $caleb-body-font: 'PT Sans', sans-serif;
@include angular-material-theme($caleb-theme);
