@import '~src/theme.scss';

.resultCards {
  margin-bottom: 2em;
  .searchCardContent {
    margin-left: 1em;
    margin-top: 1em;
  }
  .searchTitle:hover {
    cursor: pointer;
  }
  .searchHeader {
    border-bottom: 1px solid $caleb-text;
  }
  .projectCard {
    margin-top: 1em;
    display: inline-block;
    width: 100%;
    position: relative;
  }
  .previewImg {
    //border-radius: .5em;
    min-height: 150px;
    width: 100%;
    background-size: cover;
    //float: left;
    margin-right: 2em;
  }
  .iconPile{
    font-size: 1.5em;
    span {
      color: mat-color($caleb-accent);
      margin-right: 0.5em;

    }
  }
}
